$transformScale: 1.5;
$slideNum: (($transformScale - 1) / 2) * 100;
$slideNumPercent: unquote($slideNum + "%");
$slideNumDoublePercent: unquote(($slideNum * 2) + "%");
$setDuration: 0.15s;


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #141414;
    padding: 25px;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}

img {
    width: 100%;
    display: inline-block;
}

.heading {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1em;
}

.car {
    position: relative;
    display: block;
    width: 100%;

    &[data-carousel-hidden="true"] {
        display: none;
    }

    &_row {
        position: relative; 
        display: flex;
        white-space: nowrap;
        transition-property: left right; 
        transition-duration: .4s; 
        transition-timing-function: ease-out; 
    }
    &_row,
    &_item {
        transition-property: top left right bottom transform width;
        transition-duration: $setDuration;
        transition-timing-function: linear;
    }
    &_item {
        display: inline-block;
        position: relative;
        padding: 0 3px 1rem 3px;

        /* default */
        &:not[data-carousel-active="true"] {
            transform: translateX(0) scale(1);
        }
        /* active state*/
        &[data-carousel-active="true"] {
            transform: translateX(0) scale($transformScale);
        }
        &[data-carousel-active="true"][data-carousel-type="first"] {
            transform: translateX($slideNumPercent) scale($transformScale);
        }
        &[data-carousel-active="true"][data-carousel-type="last"] {
            transform: translateX(-#{$slideNumPercent}) scale($transformScale);
        }
        /* inactive state */
        &:not[data-carousel-active="true"] {
            transform: translateX(0) scale(1);
        }
        &[data-carousel-move="left"] {
            transform: translateX(-#{$slideNumPercent}) scale(1);
        }
        &[data-carousel-move="left-full"] {
            transform: translateX(-#{$slideNumDoublePercent}) scale(1);
        }
        &[data-carousel-move="right"] {
            transform: translateX($slideNumPercent) scale(1);
        }
        &[data-carousel-move="right-full"] {
            transform: translateX($slideNumDoublePercent) scale(1);
        }
    }
}
